.app-container{
  display: flex;
}
.sidebar{
      min-height: 919px;
}
.content{
  width: 100%;
}
.forms{
      padding: 35px;
    margin: 30px;
}
.dashboard-container{
      display: flex;
    /* align-items: center; */
    justify-content: space-between;;
    margin: 50px;
}